


input[type="file"]::file-selector-button {
	-webkit-margin-start: -1rem;
	-webkit-margin-end: 1rem;
	background: #4f46e5;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: .875rem;
	font-weight: 500;
	margin-inline-end: 1rem;
	margin-inline-start: -1rem;
	padding: .625rem 1rem .625rem 2rem;
}
